@namespace s "library://ns.adobe.com/flex/spark";
@namespace input "dittner.gsa.view.common.input.*";
@namespace list "dittner.gsa.view.common.list.*";
@namespace spinner "dittner.gsa.view.common.spinner.*";
@namespace cap "dittner.gsa.view.common.scroll.cap.*";

@font-face {
    src: url("/fonts/georgia.ttf");
    font-family: Georgia;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/georgia-bold.ttf");
    font-family: Georgia;
    fontWeight: bold;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/georgia-italic.ttf");
    font-family: Georgia;
    fontStyle: italic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/MyriadPro-It.otf");
    font-family: MyriadPro;
    fontStyle: italic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/MyriadPro-Regular.otf");
    font-family: MyriadPro;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/MyriadPro-Semibold.otf");
    font-family: MyriadPro;
    fontWeight: bold;
    embedAsCFF: true;
}

/**************************** MX **************************/

@font-face {
    src: url("/fonts/georgia.ttf");
    font-family: GeorgiaMX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/georgia-bold.ttf");
    font-family: GeorgiaMX;
    fontWeight: bold;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/georgia-italic.ttf");
    font-family: GeorgiaMX;
    fontStyle: italic;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/MyriadPro-It.otf");
    font-family: MyriadProMX;
    fontStyle: italic;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/MyriadPro-Regular.otf");
    font-family: MyriadProMX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/MyriadPro-Semibold.otf");
    font-family: MyriadProMX;
    fontWeight: bold;
    embedAsCFF: false;
}

/***********************************************************/

global {
    fontSize: 14px;
    fontWeight: normal;
    contentBackgroundAlpha: 0;
    backgroundColor: 0;
    backgroundAlpha: 0;
    fontFamily: MyriadPro;
}

s|Label, s|Button{
    fontSize: 14px;
    fontWeight: normal;
    fontFamily: MyriadPro;
}

/************************** INPUT **************************/

input|TextInputForm {
    skinClass: ClassReference("dittner.gsa.view.common.input.DesktopTextInputFormSkin");
    borderVisible: false;
    focusSkin: ClassReference("mx.core.UIComponent");
    fontSize: 20px;
    color: #333333;
}

s|TextInput.loginInput {
    fontSize: 30px;
    color: #b2d2e6;
    fontFamily: MyriadProMX;
    fontWeight: normal;
    borderVisible: false;
    focusSkin: ClassReference("mx.core.UIComponent");
    skinClass: ClassReference("dittner.gsa.view.common.input.LoginTextInputSkin");
}

s|TextArea {
    borderVisible: false;
    focusSkin: ClassReference("mx.core.UIComponent");
    skinClass: ClassReference("spark.skins.spark.TextAreaSkin");
    horizontalScrollPolicy: off;
    focusedTextSelectionColor: #ffcc00;

    fontSize: 16px;
    color: #050f25;
    fontWeight: normal;
}


/************************** LIST **************************/
list|ListForm {
    skinClass: ClassReference("dittner.gsa.view.common.list.ListFormSkin");
    borderVisible: false;
    focusSkin: ClassReference("mx.core.UIComponent");
    fontFamily: MyriadProMX;
    fontSize: 16px;
    color: #333333;
}

/************************** SCROLL **************************/

s|Scroller {
    interactionMode: mouse;
    skinClass: ClassReference("dittner.gsa.view.common.scroll.cap.CapScrollerSkin");
}

s|Scroller.cosmoScrollerStyle {
    interactionMode: mouse;
    skinClass: ClassReference("cosmoLib.components.scroll.CosmoScrollerSkin");
}

cap|CapVScrollBarSkin #decrementButton {
    skin-class: ClassReference("dittner.gsa.view.common.scroll.cap.ArrowButtonSkin");
    icon: Embed(source="/assets/scroll/vtop_arrow_icon.png");
}

cap|CapVScrollBarSkin #incrementButton {
    skin-class: ClassReference("dittner.gsa.view.common.scroll.cap.ArrowButtonSkin");
    icon: Embed(source="/assets/scroll/vbottom_arrow_icon.png");
}

cap|CapHScrollBarSkin #decrementButton {
    skin-class: ClassReference("dittner.gsa.view.common.scroll.cap.ArrowButtonSkin");
    icon: Embed(source="/assets/scroll/hleft_arrow_icon.png");
}

cap|CapHScrollBarSkin #incrementButton {
    skin-class: ClassReference("dittner.gsa.view.common.scroll.cap.ArrowButtonSkin");
    icon: Embed(source="/assets/scroll/hright_arrow_icon.png");
}


/************************** OTHER COMPONENTS **************************/
s|TabBar {
    fontSize: 14;
    skinClass: ClassReference("dittner.gsa.view.common.tabBar.TabBarSkin");
}

s|CheckBox {
    skinClass: ClassReference("dittner.gsa.view.common.checkBox.CustomCheckBoxSkin");
}

s|RadioButton {
    skinClass: ClassReference("dittner.gsa.view.common.radioButton.CustomRadioButtonSkin");
}

spinner|CustomSpinner {
    skin-class: ClassReference("dittner.gsa.view.common.spinner.CustomSpinnerSkin");
    fontSize: 14px;
    color: #4e4f61;
}

