@namespace s "library://ns.adobe.com/flex/spark";
@namespace input "dittner.siegmar.view.common.input.*";
@namespace list "dittner.siegmar.view.common.list.*";
@namespace spinner "dittner.siegmar.view.common.spinner.*";
@namespace cap "dittner.siegmar.view.common.scroll.cap.*";

@font-face {
    src: url("/fonts/Courier-New.ttf");
    font-family: Mono;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/ClearSans-Regular.ttf");
    font-family: Basic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/ClearSans-Bold.ttf");
    font-family: Basic;
    fontWeight: bold;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/ClearSans-Italic.ttf");
    font-family: Basic;
    fontStyle: italic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/ClearSans-Thin.ttf");
    font-family: Thin;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/MyriadPro-It.otf");
    font-family: MyriadPro;
    fontStyle: italic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/MyriadPro-Regular.otf");
    font-family: MyriadPro;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/MyriadPro-Semibold.otf");
    font-family: MyriadPro;
    fontWeight: bold;
    embedAsCFF: true;
}

/**************************** MX **************************/

@font-face {
    src: url("/fonts/Courier-New.ttf");
    font-family: Mono_MX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/ClearSans-Regular.ttf");
    font-family: BasicMX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/ClearSans-Bold.ttf");
    font-family: BasicMX;
    fontWeight: bold;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/ClearSans-Italic.ttf");
    font-family: BasicMX;
    fontStyle: italic;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/MyriadPro-It.otf");
    font-family: MyriadProMX;
    fontStyle: italic;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/MyriadPro-Regular.otf");
    font-family: MyriadProMX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/MyriadPro-Semibold.otf");
    font-family: MyriadProMX;
    fontWeight: bold;
    embedAsCFF: false;
}

/***********************************************************/

global {
    fontSize: 15px;
    fontWeight: normal;
    contentBackgroundAlpha: 0;
    backgroundColor: 0;
    backgroundAlpha: 0;
    fontFamily: MyriadPro;
}

s|Label, s|Button {
    fontSize: 15px;
    fontWeight: normal;
    fontFamily: MyriadPro;
}

s|Label.header {
    fontSize: 30px;
    fontWeight: normal;
    fontFamily: Thin;
    color: #b2d2e6;
}

/************************** INPUT **************************/

input|TextInputForm {
    skinClass: ClassReference("dittner.siegmar.view.common.input.DesktopTextInputFormSkin");
    contentBackgroundAlpha: 1;
    borderColor: #c7c7cf;
    focusSkin: ClassReference("mx.core.UIComponent");
    fontSize: 18px;
    color: #050f25;
    focusedTextSelectionColor: #d2cee0;
}

s|TextInput.loginInput {
    fontSize: 30px;
    color: #b2d2e6;
    fontFamily: MyriadPro;
    fontWeight: normal;
    borderVisible: false;
    focusedTextSelectionColor: #595ab6;
    focusSkin: ClassReference("mx.core.UIComponent");
    skinClass: ClassReference("dittner.siegmar.view.common.input.LoginTextInputSkin");
}

s|TextArea {
    borderVisible: false;
    focusSkin: ClassReference("mx.core.UIComponent");
    skinClass: ClassReference("spark.skins.spark.TextAreaSkin");
    horizontalScrollPolicy: off;
    focusedTextSelectionColor: #d2cee0;

    fontSize: 18px;
    color: #050f25;
    fontWeight: normal;
}

/************************** LIST **************************/
list|ListForm {
    skinClass: ClassReference("dittner.siegmar.view.common.list.ListFormSkin");
    borderVisible: false;
    focusSkin: ClassReference("mx.core.UIComponent");
    fontFamily: MyriadProMX;
    fontSize: 16px;
    color: #333333;
}

/************************** SCROLL **************************/

s|Scroller {
    interactionMode: mouse;
    skinClass: ClassReference("dittner.siegmar.view.common.scroll.cap.CapScrollerSkin");
}

s|Scroller.cosmoScrollerStyle {
    interactionMode: mouse;
    skinClass: ClassReference("cosmoLib.components.scroll.CosmoScrollerSkin");
}

cap|CapVScrollBarSkin #decrementButton {
    skin-class: ClassReference("dittner.siegmar.view.common.scroll.cap.ArrowButtonSkin");
    icon: Embed(source="/assets/scroll/vtop_arrow_icon.png");
}

cap|CapVScrollBarSkin #incrementButton {
    skin-class: ClassReference("dittner.siegmar.view.common.scroll.cap.ArrowButtonSkin");
    icon: Embed(source="/assets/scroll/vbottom_arrow_icon.png");
}

cap|CapHScrollBarSkin #decrementButton {
    skin-class: ClassReference("dittner.siegmar.view.common.scroll.cap.ArrowButtonSkin");
    icon: Embed(source="/assets/scroll/hleft_arrow_icon.png");
}

cap|CapHScrollBarSkin #incrementButton {
    skin-class: ClassReference("dittner.siegmar.view.common.scroll.cap.ArrowButtonSkin");
    icon: Embed(source="/assets/scroll/hright_arrow_icon.png");
}

/************************** OTHER COMPONENTS **************************/
s|TabBar {
    fontSize: 15px;
    skinClass: ClassReference("dittner.siegmar.view.common.tabBar.TabBarSkin");
}

s|CheckBox {
    skinClass: ClassReference("dittner.siegmar.view.common.checkBox.CustomCheckBoxSkin");
}

s|RadioButton {
    fontSize: 15px;
    skinClass: ClassReference("dittner.siegmar.view.common.radioButton.CustomRadioButtonSkin");
}

spinner|CustomSpinner {
    skin-class: ClassReference("dittner.siegmar.view.common.spinner.CustomSpinnerSkin");
    fontSize: 15px;
    color: #4e4f61;
}
